<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Description </th>
        <th> Created </th>
        <th> Updated </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ToDo : ${ToDoList}">
        <td><span th:text="${ToDo.id}"> id </span></td>
        <td><span th:text="${ToDo.description}"> description </span></td>
        <td><span th:text="${ToDo.created}"> created </span></td>
        <td><span th:text="${ToDo.updated}"> updated </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>